.leaflet-container {
  width: 100%;
  height: 100vh;
}
.leaflet-popup-content-wrapper {
  background: #fff !important;
  color: #333;
  box-shadow: 0;
}

.edite-popup {
  width: 300px;
  max-height: 650px;
  border-color: #444;
  overflow-y: scroll;
  background-color: #448bc9;
  .popup-header {
    width: 100%;
    height: 30px;
    background-color: #e1f0d8;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
    color: #7dc67d;
    font-weight: bold;
    font-size: 18px;
  }
  .content-popup {
  }
}
.map-inside {
  width: 100%;
  margin-top: 10px;
  border: 1px solid #444;
  height: 200px;
  .leaflet-container {
    width: 100%;
    height: 100%;
  }
}
.popup-main,
.edite-popup {
  height: 400px;
  width: 300px;
  background-color: #fff;
  border: 1px solid #448bc9;
  border-radius: 5px;
  overflow: hidden;
  .popup-header {
    width: 100%;
    height: 30px;
    background-color: #448bc9;
  }
  .popup-content {
    padding: 15px 10px;
    display: flex;
    flex-direction: column;
    height: 100%;
    .location-part {
      display: flex;
      align-items: center;
      label {
        font-weight: bold;
      }
      input {
        width: 60%;
        margin-left: 3px;
        height: 25px;
        border: 2px solid #44444487;
      }
    }
  }
}
.btn-group-main,
.btn-popup-group {
  width: 100%;
  height: 41px;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  flex-direction: row-reverse;
  button {
    border-radius: 5px;
    padding: 5px 20px;
    border: none;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #448bc9;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    &:hover {
      background-color: #448bc9e4;
    }

    &:nth-child(2) {
      background-color: rgb(191, 56, 56);
      &:hover {
        background-color: rgba(191, 56, 56, 0.831);
      }
    }
  }
}
.btn-popup-group{
	justify-content: space-around;
	button {	background-color: #7dc67d;}
}
.popup-main {
  overflow-y: auto;
  overflow-x: hidden;
  .upload-img {
    .upload-box-img {
      width: 100%;
      height: 100px;
      background-color: #f7f7f7;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 150px;
        height: 100px;
      }
      cursor: pointer;
    }
    input {
      display: none;
    }
  }
}
.edite-popup {
    height: 159px;
  
}
